@media screen and (max-width: 892px){

    .main {
    max-width: 660px;
    padding: 0 12px;
    }

    .header h1 {
        margin: auto;
        font-size: 40px;
    }

    .header img {
    width: 100%;
    max-width: 180px;
    }

    .button {
    width: 100px;
    font-size: 16px;
    }

    .text-box h3{
        font-size: 16px;
    }

    .text-box p{
        font-size: 12px;
    }

    .text-box span{
        font-size: 16px;
    }
}

@media screen and (max-width: 892px){

    .main {
    max-width: 660px;
    padding: 0 12px;
    }

    .header h1 {
        margin: auto;
        font-size: 40px;
    }

    .header img {
    width: 100%;
    max-width: 180px;
    }

    .button {
    width: 100px;
    font-size: 16px;
    }

    .text-box h3{
        font-size: 16px;
    }

    .text-box p{
        font-size: 12px;
    }

    .text-box span{
        font-size: 16px;
    }
}

@media screen and (max-width: 330px){

.main{
    max-width: 250px;
    padding: 0 8px 0 8px;
}

.header{
    height: auto;
   
}

.header h1{
    margin: auto 16px;
}

.header img{
    width: 100px;
}


.menu-container{
    width: 100%;
    height: auto;
    display: flex;
}

/* .nav{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    position: sticky;
    top: 200px;
    left: 0;
    z-index: 1;
    background-color: bisque;
} */

}