*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;    
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-family: "Caveat", sans-serif;
    overflow-x: hidden;
}

.header{
    background-color: antiquewhite;
    width: 100%;
    height: 200px;
    border-top: 10px solid green;
    border-bottom: 10px solid red;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 2;
}

.header h1{
    margin: auto 30px;
}

.header img{
    width: 300px;
}

.main{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    align-items: center;
    padding: 0 36px 0 24px;
}
.cart{
    background-color: aquamarine;
    width: 40%;
    height: auto;
    max-height: 80vh;
    overflow-y: scroll;
    position: sticky;
    top:310px;
    right: 0;
    z-index: 2;
}

.menu-container{
    width: 100%;
    height: auto;
    display: flex;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    flex-wrap: wrap;
    width: 100%;
    position: sticky;
    top: 200px;
    left: 0;
    z-index: 1;
    background-color: bisque;
}
.button{
    width: 120px;
    height: 40px;
    margin-top: 10px;
    background-color: red;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.menu{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 12px;
    padding: 20px;
}

.dish{
    max-width: 400px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.dish img{
    width: 100%;
}